@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 33, 33);
}

header {
    background-color: rgb(24, 64, 64);
    width: auto;
    max-height: 50px;
    box-shadow: 5px 2px black;
    text-align: center;
    padding: 20px;
    color: white;
}

nav {
    background-color: blueviolet;
    color: white;
    text-align: center;
    height: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    padding: 5px;
}

nav a:hover {
    background-color: chartreuse;
    color: orange;
    border-radius: 20px;
    padding: 4px;
}

main {
    max-width: 1400px;
    background-color: white;
    height: 800px;
    margin: auto;
}

.aboutme {
    display: flex;
    width: auto;
    height: 400px;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
}

.aboutmetexts {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 10px;
}

.aboutme img {
    width: 20%;
    padding: 20px;
}

.redessociais {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.redessociais i {
    color: rgb(7, 78, 120);
    font-size: 120px;
}