* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(152, 12, 12, 0.597);
}

header {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

main {
    max-width: 1200px;
    background-color: white;
    margin: auto;
}

.about-me {
    width: auto;
    background-color: blueviolet;
    height: 400px;
}

.social {
    width: auto;
    height: 400px;
    background-color: aquamarine;
}

.redes-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.redes-icons ul {
    list-style-type: none;
}